.navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
    padding: 0 2rem;
    font-size: 1.25rem;
}